<br/>
<h1>Editing Ticket</h1>
<br/>
<br/>
<%= render 'form', booking: @booking %>
<br/>
<%= link_to 'Show', @booking , class: "btn btn-dark"%> |
<br/>
<%= link_to 'Back', bookings_path , class: "btn btn-secondary"%>
