<%= image_tag("airplane.jpg", :alt => "something") %>
<h1>This is the homepage</h1>
<p>Find me in app/views/home/index.html.erb</p>
<p>There should be some airplane stiff right here</p>
<div class="container">
  <div class="row">
    <div class="col-sm">
      Flight: VP3652
      <p> From: London, To: Paris</p>
      <p> Cost: £450</p>
      <button type="button" class="btn btn-primary">Book Now</button>
    </div>
    <div class="col-sm">
      Flight: VP3730
      <p> From: London, To: Belrin</p>
      <p> Cost: £500</p>
      <button type="button" class="btn btn-primary">Book Now</button>
    </div>
    <div class="col-sm">
      Flight: VP2815
      <p> From: London, To: Athens</p>
      <p> Cost: £600</p>
      <button type="button" class="btn btn-primary">Book Now</button>
    </div>
  </div>
</div>
